:root {
  --default-color: #6e84d6;
  --text-color: #ffc540;
  --border-color: #1d7373;
  --background-color: #412c84;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  background-color: var(--default-color);
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: Garamond, serif;
  color: var(--text-color);
  text-align: center;
  border-bottom: 5px solid var(--border-color);
}

h3 {
  border-bottom: 3px groove var(--border-color);
}

nav {
  overflow: hidden;
  background-color: #06266f;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text-color);
  padding: 15px;
}

nav a:last-child {
  float: right;
}

nav a:hover {
  background-color: var(--border-color);
}

#Logo {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 2px solid var(--text-color);
}

.Content {
  padding: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .Content {
  padding-top: 50px;
}

h1 {
  max-width: 20%;
  padding: 5px 200px;
  margin: 10px auto;
  background-image: linear-gradient(rgba(0,0,0,0), var(--background-color));
}

aside {
  float: left;
  width: 25%;
  border-top: 5px solid var(--border-color);
  background-image: linear-gradient(var(--background-color), var(--background-color), rgba(0,0,0,0));
  height: 500px;
  box-sizing: border-box;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside li {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.2em;
  text-align: right;
  padding: 25px 15px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

aside li:hover {
  border-top: 5px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
  background-color: #200772;
}

aside li:first-child:hover {
  border-top: none;
}

aside li.active {
  background-color: #200772;
}

.Main {
  float: right;
  width: 75%;
  padding: 15px;
  height: 500px;
  border-top: 5px solid var(--border-color);
  border-left: 5px solid var(--border-color);
  background-image: linear-gradient(var(--background-color), var(--background-color), rgba(0,0,0,0));
  color: var(--text-color);
  box-sizing: border-box;
}

.tabContent {
  display: none;
}

footer {
  min-height: 100px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

p {
  text-indent: 50px;
}

table, th, td {
  border: 2px solid var(--border-color);
  border-collapse: collapse;
}

.Contacts ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Contacts li {
  padding: 10px;
  padding-top: 0;
}

.Contacts a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2em;
}

.Contacts a:active {
  text-shadow: 2px 2px 3px var(--default-color);
}
